:root {
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

.nav-item {
	/*list-style-type: none;*/
}

.selected {
	border-bottom: 2px hsla(208, 100%, 50%, 1) solid;
	color: hsla(208, 100%, 50%, 1);
}

#contacts {
	height: 80%;
	background-color: #FCFCFC;
}

#navbar {
	height: 8%;
}

#nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	font-weight: 400;
	padding-bottom: 2%;
	border-bottom: 2px #EDEDED solid;
}

#phone-nav {
	display: flex;
	flex-wrap: wrap;
	height: 8%;
	align-items: center;
	justify-content: space-around;
	border-top: 1px #DDDDDD solid;
	font-size: 40px;
	color: #888888;
}