@charset "UTF-8";

:root {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
	display: none;
	background: transparent;
}

/* For setting percentage heights */
html, body {
	height: 100%;
}

.avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.contact {
	height: 10%;
	border-bottom: 1px #EDEDED solid;
}

.date-time {
	color: chartreuse; /* Temporary */
}

.form-input {
	width: 29%;
	border-top: none;
	border-right: none;
	border-bottom: 1px initial solid;
	border-left: none;
}

.form-input:focus {
	outline: none;
}

.form-input:focus::placeholder {
	color: hsla(208, 100%, 50%, 1);
	font-weight: bold;
}

.input-invalid {
	border-bottom-color: #FF0000;
}

.input-valid {
	border-bottom-color: #00FF00;
}

.nav-item {
	/*list-style-type: none;*/
}

.pad {
	margin-top: 10%;
	transition: all 0.3s linear;
}

.pad:active {
	background-color: #DDDDDD;
}

.pad-blue {
	color: #0055FF;
}

.remove {
	float: right;
	margin-top: 20px;
	margin-right: 10%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF0000;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}

.selected {
	border-bottom: 2px hsla(208, 100%, 50%, 1) solid;
	color: hsla(208, 100%, 50%, 1);
}

.star {
	margin-top: 20px;
	margin-left: 20%;
	font-size: 24px;
}

.star-black {
	color: #000000;
}

.star-yellow {
	color: hsla(48, 100%, 50%, 1);
}

#add-contact {
	width: 22px;
	height: 22px;
	border: 1px #000000 solid;
	border-radius: 50%;
	background-color: hsla(208, 100%, 50%, 1);
	text-align: center;
	color: #FFFFFF;
}

#add-contact:active {
	outline: none;
	border-color: hsla(208, 100%, 50%, 1);
	background-color: #00BB00;
	color: #FFFFFF;
}

#add-contact:focus {
	outline: none;
	border-color: #800080;
	color: #800080;
}

#app {
	height: 80%;
}

#contacts {
	height: 83%;
	margin-top: 3%;
	background-color: #FCFCFC;
}

#dialler {
	display: none;
	height: 80%;
	margin-top: -2%;
	background-color: #FFFFFF;
}

#dialler-pad {
	position: relative;
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 25%;
	grid-template-columns: 1fr  1fr 1fr;
	height: 90%;
	top: 25%;
	z-index: 1;
	border: 1px solid #EDEDED;
	border-radius: 2%;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#dialler-pad-call {
	color: #00AA00;
}

#display {
	height: 8%;
	width: 100%;
	border: 2px #EEEEEE solid;
	border-radius: 4%;
	background-color: #FFFFFF;
	text-align: right;
	font-size: 30px;
	color: #000000;
}

#error-message {
	position: absolute;
	display: block;
	width: 80%;
	height: 20%;
	top: 65%;
	right: 0;
	left: 0;
	margin: 0 auto;
	visibility: visible; /* initially hidden */
	border-radius: 3%;
	background-color: #BB0044;
	overflow: hidden;
	text-align: center;
	color: #FFFFFF;
	/*transition: all 2.5s error;*/
}

#error-message-text {
	width: 90%;
	height: 50%;
	margin: 5% auto 0;
	background-color: #BB00EE;
	overflow-y: scroll;
	word-wrap: break-word;
	color: #FFFFFF;
}

#error-message-title {
	width: 60%;
	height: 16%;
	margin: 5% auto 0;
	background-color: #BB0099;
	color: #FFFFFF;
}

#favourites {
	display: none;
	height: 83%;
	margin-top: 3%;
	background-color: #FFFFFF;
}

#form-contact {
	margin-top: -2%;
}

#navbar {
	height: 8%;
}

#nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	font-weight: 400;
	padding-bottom: 2%;
	border-bottom: 2px #EDEDED solid;
}

#phone-nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 3%;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
	border-top: 2px #DDDDDD solid;
	font-size: 40px;
	color: #888888;
}

@keyframes error {
	
}