:root {
	font-family: 'Roboto', sans-serif;
}

.nav-item {
	/*list-style-type: none;*/
}

#nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	font-weight: 400;
}